/* Custom fonts import */
@import url('https://fonts.cdnfonts.com/css/gobold');

/* Setting variables for styling fonts and colors */
:root {
    --primary-color: #17216b;
    /*dark blue */
    --secondary-color: white;
    /* white */
    --primary-font: 'Gobold', sans-serif;
    --secondary-font: 'Inter', sans serif;
}

/* Override bootstrap styles */
h3 {
    font-size: 100%;
    margin-top: 15px;
}

address,
p {
    font-size: 120%;
    font-family: var(--secondary-font);
}

.hidden {
    display: none;
}

.heading-secondary-font,
.main-text {
    margin: 40px 0 15px 0;
    font-size: 300%;
    color: var(--primary-color);
}

.sub-heading {
    font-size: 250%;
    color: var(--primary-color);
    padding-bottom: 20px;
}

/* ----------------------------------------------------------------------------------------*/
/* Navbar */

#navbar {
    background-color: var(--primary-color);
    padding: 5px 0px 0px 0px;
}

.logo-text, .logo-text-2 {
    font-family: var(--primary-font);
    text-transform: uppercase;
    color: var(--secondary-color);
    margin: 0;
}

.logo-text {
    font-size: 210%;
}

.logo-text-2 {
    font-size: 150%;
    text-align: right;
}

.navbar-nav {
      font-family: var(--primary-font);
        letter-spacing: 2px;
        text-transform: uppercase;
}

.navbar-text {
    color: var(--secondary-color);
    font-size: 120%;
}

.custom-nav-item {
    margin-left: 20px;
}

.navbar-toggler {
    font-size: 150%;
    margin: 0;
    padding: 0;
}

.link-active {
    text-decoration: underline;
}

.custom-button-filled {
    background-color: var(--secondary-color);
}

.custom-button-outlined {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 200%;
}

.navbar-text .custom-button-filled {
    color: var(--primary-color);
    font-size: 100%;
}

/*---------------------------------------------------------------------------------------------------------*/
/*Heading Front Photo*/
#front-photo {

    padding-top: 100px;
    position: relative;
    background: url("../images/selfie-on-moon.webp") no-repeat;
    background-size: cover;
    /* Align the image to the top of the div */
    background-position: 50% 30%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

#front-photo-text {
    position: absolute;
    color: var(--secondary-color);
    font-family: var(--primary-font);
    font-size: 390%;
    text-transform: uppercase;
    text-shadow: 5px 5px 34px rgba(0, 0, 0, 0.5);
    bottom: 30px;
}

/*-----------------------------------------------------------------------------------------------*/

/*Main*/
main {
    margin-bottom: 10px;
}

/*Book a trip*/
#book-trip {
    padding-top: 150px;
}

#success-booking {
    color: var(--primary-color);
    font-family: var(--primary-font);
    text-transform: uppercase;
}
/*-----------------------------------------------------------------------------------------------*/
/*Contacts*/
#contacts-container {
    padding-top: 120px;
}
.contact-info {
    padding: 40px;
}

.social-links-contacts i {
    color: var(--primary-color);
    font-size: 250%;
    padding-top: 30px;
    padding-right: 3vw;
}

#map {
    background: url(../images/map.webp);
    border: 2px solid var(--primary-color);
}

/*-----------------------------------------------------------------------------------------------*/
/*Footer*/
footer {
    background-color: var(--primary-color);
}

.social-links i {
    font-size: 200%;
    color: var(--secondary-color);
    padding: 10px 25px 10px 25px;
}

/*---------------------------------------------------------------------------------*/
/* Media queries */
@media screen and (min-width: 280px) {
    #navbar .logo {
        display: none;
    }
    .navbar-collapse {
        margin-top: 10px;
        padding-bottom: 5px;
        border-top: 1px solid var(--secondary-color);
    }
    .navbar-toggler {
        font-size: 280%;
        margin-right: 5px;
        padding-right: 5px;
    }
}

@media screen and (min-width: 320px) {


    #front-photo {
        height: 100vh;
    }

    #front-photo-text {
        padding-left: 8vw;
        padding-bottom: 0.5vh;
    }

    .navbar-toggler {
        font-size: 300%;
        margin-right: 5px;
        padding-right: 5px;
    }
}
@media screen and (min-width: 460px) {
    #navbar .logo {
        display: block;
        width: 120px;
        height: 100%;
    }
    .navbar-collapse {
        margin-top: 0;
        padding-bottom: 0;
        border-top: 0;
    }
}

@media screen and (min-width: 768px) {
    #navbar .logo {
        display: block;
        width: 120px;
        height: 100%;
    }

    .navbar-toggler {
        font-size: 300%;
        margin-right: 5px;
        padding-right: 5px;
    }

    #front-photo {
        height: 100vh;
    }

    #front-photo-text {
        font-size: 550%;
        padding-left: 8vw;
        padding-bottom: 3vh;
    }

    .social-links i {
        font-size: 300%;
        color: var(--secondary-color);
        padding: 10px 45px 10px 45px;
    }

}

@media screen and (min-width: 992px) {
    #navbar .logo {
        width: 140px;
    }

    .navbar-text .custom-button-filled {
        color: var(--primary-color);
        font-size: 120%;
    }

    #front-photo-text {
        padding-left: 45px;
        padding-bottom: 1vh;
    }

    .navbar-collapse {
        margin-top: 0px;
    }

    .navbar-nav {
        font-size: 110%;
    }

}

@media screen and (min-width: 1200px) {
    #front-photo-text {
        padding-left: 12vw;
        padding-bottom: 0.3vh;
    }
    .navbar-nav {
        font-size: 160%;
    }
}

@media screen and (min-width: 1400px) {
    #front-photo-text {
        padding-left: 5vw;
    }
}